
    .column {
        border: .5px solid;
        float: left;
        width: 50%;
        padding: 10px;
        height: 300px; /* Should be removed. Only for demonstration */
      }
.row{
    display: flex;
    flex-direction: row;
}
.input-form{
    display: none;
}
input[type=submit] {
    background-color: #0693cd;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
    color: #fff;
    font-size:16px;
    line-height: 1.4;
    padding: 3px;
    width: 100px
  }